:root {
  --drink-shadow: white;
  --semi-transparent-white: #03cee4;
  --cube-size: 50px;
}

/*setting sun*/

body{
   background-image: linear-gradient(red, yellow);
}

.page{
  position: relative;
  display: block;
  width: 600px;
  height:680px;

}

/*glass  */
.glass{
  height:400px;
  width:400px;
  background:var(--semi-transparent-white);
  margin:30px auto;
  border-radius: 50% 50% 10% 10%;
  transform: rotate(180deg);  
  overflow:hidden;
}

/* ice cubes */
.ice-cube {
  position:absolute;
  left:15%;
  top:35%;
  width:var(--cube-size);
  height:var(--cube-size);
  transform-style:preserve-3d;
  transform:rotateX(-30deg) rotateY(35deg) translate(-50%, -50%);

}

.ice-cube.two{
  top: 25%;
  left: 50%;
  transform: rotate3d(0, 1, 1, 45deg);
}

.ice-cube.three{
  top: 5%;
  left: 50%;
  transform: rotate3d(0, 1, 1, 78deg);
}

.cube {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-style: preserve-3d;
}

.cube div {
  position:absolute; 
  left:50%; 
  top:50%;
  width:var(--cube-size); 
  height:var(--cube-size); 
  border-radius:var(--cube-size)/12;
  background:rgba(221,221,221,0.2); 
  background:linear-gradient(rgba(237,237,237,0.3),rgba(153,153,153,0.1));
  box-shadow:0 0 4px rgba(255,255,255,0.2),inset 0 0 4px rgba(255,255,255,0.2);
}

.back {
  transform: rotateX(180deg) translate3d(0, 0, 25px);
}
.right {
  transform: rotateY(90deg) translate3d(0, 0, 25px);
}
.left {
  transform: rotateY(-90deg) translate3d(0, 0, 25px);
}
.top {
  transform: rotateX(90deg) translate3d(0, 0, 25px);
}
.bottom {
  transform: rotateX(270deg) translate3d(0, 0, 25px);
}
.front {
  transform: translate3d(0, 0, 25px);
}


/*Bubbles*/

.glass .bubble-right {
  left: 74px;
  animation-delay: 0.75s;
}

.glass .bubble-left {
  left: 120px;
  animation-delay: 0s;
}

.bubble {
  top: 0;
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  animation: bubbleUp 2s infinite;
  width: 50px;
  height: 50px;
}

.bubble::before {
  content: '';
  width: 25px;
  height: 25px;
  left: 20px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  animation: bubbleUp 1s infinite;
}

.bubble::after {
  content: '';
  width: 15px;
  height: 15px;
  right: 50px;
  position: absolute;
  border-radius: 50%;
  background: rgba(255,255,255,0.5);
  animation: bubbleUp 1.5s infinite;
}

@keyframes bubbleUp {
  100% {
    transform: translateY(50px);
    background: transparent;
  }
}




